*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.x{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    text-decoration-line: underline;
}
.A{
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    border: 2px solid black;
    border: size 10px;;
    font-size: 25px;
    margin-right: 80px;
    margin-top: 30px; 
}
.AA{
justify-content: space-between;
padding: 10px;
box-sizing: 20px;
margin: auto;
}
